{{ define "cadastro" }}
<!DOCTYPE html>
<html lang="en">
    {{ template "head" }}
    <body>
        {{ template "header"}}
        <h1>Cadastro</h1>
        <form action="/usuario/cadastrar" method="post">
            <label>nome:<input type="text" name="name" /></label>
            <label>email:<input type="email" name="email" /></label>
            <label>senha:<input type="password" name="password" /></label>
            <input type="submit" name="send" value="Enviar" />
        </form>
    </body>
</html>
{{ end }} {{ define "login" }}
<!DOCTYPE html>
<html lang="en">
    {{ template "head"}}
    <body>
        {{ template "header" }}
        <h1>login</h1>
        <form action="/usuario/entrar" method="post">
            <label>email:<input type="email" name="email" /></label>
            <label>senha:<input type="password" name="password" /></label>
            <input type="submit" name="send" value="Enviar" />
        </form>
    </body>
</html>
{{ end }}
