{{ define "header" }}
<div
    id="navbar"
    class="transition-all ease-in-out duration-300 fixed bg-transparent w-full m-0 h-16 md:h-20 flex justify-center px-2 overflow-hidden"
>
    <div class="flex flex-col md:flex-row w-full lg:w-11/12 xl:w-4/5 2xl:w-3/5">
        <div class="text-3xl mt-3 md:mt-0 md:text-4xl flex items-center">
            <span
                class="text-rose-500 font-sans font-semibold italic drop-shadow-md"
                >acode</span
            ><span class="text-white font-serif font-bold drop-shadow-md"
                >Fortal</span
            >
        </div>
        <div
            class="text-white flex flex-col md:flex-row w-full justify-evenly items-center"
        >
            <a
                class="opacity-80 hover:opacity-100 drop-shadow-md my-5 md:my-0"
                href="/"
                >Início</a
            >
            <a
                class="opacity-80 hover:opacity-100 drop-shadow-md my-5 md:my-0"
                href="/"
                >Destaques</a
            >
            <a
                class="opacity-80 hover:opacity-100 drop-shadow-md my-5 md:my-0"
                href="/"
                >Como Funciona</a
            >
        </div>
        <div
            class="flex justify-center my-5 md:my-0 md:justify-end md:items-center"
        >
            {{ if .Logged }}
            <div class="flex">
                <div class="flex flex-col items-end justify-center mr-2">
                    <span
                        class="text-white text-sm drop-shadow-md max-w-36 truncate"
                        >{{ .Email }}</span
                    >
                    <a
                        class="text-white text-sm opacity-80 hover:opacity-100 drop-shadow-md"
                        href="/usuario/sair"
                        >SAIR</a
                    >
                </div>
                <div class="flex w-12 h-12">
                    <img
                        class="rounded-full object-cover"
                        src="/static/profileimg.png"
                    />
                </div>
            </div>
            {{ else }}

            <a
                class="ring-1 ring-sky-950 bg-white text-sky-950 py-1 px-2 rounded-md font-semibold opacity-80 hover:opacity-100 drop-shadow-md mr-3"
                href="/usuario/cadastrar"
                >Cadastrar
            </a>
            <a
                class="ring-1 ring-white bg-sky-950 text-white py-1 px-2 rounded-md font-semibold opacity-80 hover:opacity-100 drop-shadow-md"
                href="/usuario/entrar"
                >Entrar</a
            >

            {{ end }}
        </div>
    </div>
    <div
        id="menu-icon"
        class="md:hidden h-10 w-10 bg-black absolute right-3 top-3"
    ></div>
</div>
<div
    class="w-full h-[32rem] bg-gradient-to-t from-sky-950 to-sky-600 flex justify-center items-center flex-col"
>
    <h1 class="pt-8 text-5xl text-white font-serif font-bold mb-2">
        Faça a diferença!
    </h1>
    <h2 class="text-2xl text-sky-300 font-serif mb-6">
        Busque por ONGs para ajudar
    </h2>
    <input
        class="w-80 font-serif text-xl text-white bg-opacity-5 bg-white focus:bg-transparent border-0 border-b-2 border-b-white focus:border-b-sky-300 focus:ring-0"
        type="text"
        name="busca_af"
        autofocus
    />
</div>
<script>
    // classes: bg-transparent bg-sky-700
    document.addEventListener("scroll", navbarHandlerWrapper());
    function navbarHandlerWrapper() {
        let navbar = document.getElementById("navbar");
        let previousState = window.scrollY > 50;
        return function () {
            let currentState = window.scrollY > 50;
            let isClosed = navbar.classList.contains("h-16");
            if (currentState != previousState) {
                if (currentState) {
                    navbar.classList.remove("bg-transparent");
                    navbar.classList.add("bg-sky-700");
                } else if (isClosed) {
                    navbar.classList.remove("bg-sky-700");
                    navbar.classList.add("bg-transparent");
                }
                previousState = currentState;
            }
        };
    }
    // classes: h-16 h-80
    document.getElementById("menu-icon").addEventListener("click", (e) => {
        let navbar = document.getElementById("navbar");
        let isOpen = navbar.classList.contains("h-80");
        if (isOpen) {
            console.log("vai fechar");
            navbar.classList.replace("h-80", "h-16");
            if (window.scrollY <= 50) {
                navbar.classList.remove("bg-sky-700");
                navbar.classList.add("bg-transparent");
            }
        } else {
            console.log("vai abrir");
            navbar.classList.replace("h-16", "h-80");
            navbar.classList.remove("bg-transparent");
            navbar.classList.add("bg-sky-700");
        }
    });
</script>
{{ end }}
