{{ define "header" }}
<div class="bg-sky-950 m-0 h-20 flex justify-center">
    <div class="grid grid-cols-7 lg:w-3/5">
        <div class="col-span-2 flex items-center">
            <span class="text-4xl text-rose-500 font-sans italic drop-shadow-md"
                >acode</span
            ><span
                class="text-4xl text-white font-serif font-bold drop-shadow-md"
                >Fortal</span
            >
        </div>
        <div class="col-span-3 text-white flex justify-evenly items-center">
            <a class="opacity-80 hover:opacity-100 drop-shadow-md" href="/"
                >Início</a
            >
            <a class="opacity-80 hover:opacity-100 drop-shadow-md" href="/"
                >Destaques</a
            >
            <a class="opacity-80 hover:opacity-100 drop-shadow-md" href="/"
                >Como Funciona</a
            >
        </div>
        <div class="col-span-2 text-white flex items-center justify-end">
            {{ if .Logged }}
            <div class="flex">
                <div class="flex flex-col items-end justify-center mr-2">
                    <span
                        class="text-white text-sm drop-shadow-md max-w-48 truncate"
                        >{{ .Email }}</span
                    >
                    <a
                        class="text-white text-sm opacity-80 hover:opacity-100 drop-shadow-md"
                        href="/usuario/sair"
                        >SAIR</a
                    >
                </div>
                <img
                    class="rounded-full w-12 h-12 object-cover"
                    src="/static/profileimg.png"
                />
            </div>
            {{ else }}
            <a
                class="font-semibold opacity-80 hover:opacity-100 drop-shadow-md mr-3"
                href="/usuario/cadastrar"
                >CADASTRE-SE</a
            >
            <a
                class="font-semibold opacity-80 hover:opacity-100 drop-shadow-md"
                href="/usuario/entrar"
                >ENTRE</a
            >
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
