{{ define "header" }}
<div
    id="navbar"
    class="fixed bg-transparent w-full m-0 h-16 sm:h-20 flex justify-center px-2"
>
    <div class="grid grid-cols-7 w-full lg:w-11/12 xl:w-4/5 2xl:w-3/5">
        <div class="col-span-2 flex items-center">
            <span
                class="text-3xl sm:text-4xl text-rose-500 font-sans font-semibold italic drop-shadow-md"
                >acode</span
            ><span
                class="text-4xl text-white font-serif font-bold drop-shadow-md"
                >Fortal</span
            >
        </div>
        <div class="col-span-3 text-white flex justify-evenly items-center">
            <a class="opacity-80 hover:opacity-100 drop-shadow-md" href="/"
                >Início</a
            >
            <a class="opacity-80 hover:opacity-100 drop-shadow-md" href="/"
                >Destaques</a
            >
            <a class="opacity-80 hover:opacity-100 drop-shadow-md" href="/"
                >Como Funciona</a
            >
        </div>
        <div class="col-span-2 text-white flex items-center justify-end">
            {{ if .Logged }}
            <div class="flex">
                <div class="flex flex-col items-end justify-center mr-2">
                    <span
                        class="text-white text-sm drop-shadow-md max-w-48 truncate"
                        >{{ .Email }}</span
                    >
                    <a
                        class="text-white text-sm opacity-80 hover:opacity-100 drop-shadow-md"
                        href="/usuario/sair"
                        >SAIR</a
                    >
                </div>
                <img
                    class="rounded-full w-12 h-12 object-cover"
                    src="/static/profileimg.png"
                />
            </div>
            {{ else }}
            <a
                class="font-semibold opacity-80 hover:opacity-100 drop-shadow-md mr-3"
                href="/usuario/cadastrar"
                >CADASTRE-SE</a
            >
            <a
                class="font-semibold opacity-80 hover:opacity-100 drop-shadow-md"
                href="/usuario/entrar"
                >ENTRE</a
            >
            {{ end }}
        </div>
    </div>
</div>
<div
    class="w-full h-[32rem] bg-gradient-to-t from-sky-950 to-sky-600 flex justify-center items-center flex-col"
>
    <h1 class="pt-8 text-5xl text-white font-serif font-bold mb-2">
        Faça a diferença!
    </h1>
    <h2 class="text-2xl text-sky-300 font-serif mb-6">
        Busque por ONGs para ajudar
    </h2>
    <input
        class="w-80 font-serif text-xl text-white bg-opacity-5 bg-white focus:bg-transparent border-0 border-b-2 border-b-white focus:border-b-sky-300 focus:ring-0"
        type="text"
        name="busca_af"
        autofocus
    />
</div>
<script>
    // classes: bg-transparent bg-sky-700
    document.addEventListener("scroll", navbarHandlerWrapper());
    function navbarHandlerWrapper() {
        let navbar = document.getElementById("navbar");
        let previousState = window.scrollY > 50;
        return function () {
            let currentState = window.scrollY > 50;
            if (currentState != previousState) {
                if (currentState) {
                    navbar.classList.remove("bg-transparent");
                    navbar.classList.add("bg-sky-700");
                } else {
                    navbar.classList.remove("bg-sky-700");
                    navbar.classList.add("bg-transparent");
                }
                previousState = currentState;
            }
        };
    }
</script>
{{ end }}
